<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{css/styles.css}">
  <title>Title</title>
</head>
<body>
  <div class="page-wrapper">
    <h1 class="page-title">
      Spring with Thymeleaf
    </h1>
    <p class="page-text">
      Don't have an account? Click here to <a th:href="@{/signup}">signup</a>
    </p>
    <p class="page-text">
      Already have an account? Click here to <a th:href="@{/signin}">signin</a>
    </p>
  </div>
</body>
</html>