<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{css/styles.css}">
  <title>Title</title>
</head>
<body>
<div class="page-wrapper">
  <h2>
    <a th:href="@{/}">To main</a>
  </h2>
  <h1 class="page-title">
    Sign up
  </h1>
  <!--/*@thymesVar id="user" type="by.bsu.spring_thymeleaf.entity.UserEntity"*/-->
  <form class="form-wrapper" method="POST" th:object="${user}" th:action="@{/signup}">
    <label for="email">Email</label>
    <input type="email" class="form-input" id="email" placeholder="email@example.com" th:field="*{email}">
    <label for="password">Password</label>
    <input type="password" class="form-input" id="password" placeholder="Eg" th:field="*{password}">
    <button type="submit" class="form-button">Register</button>
  </form>
</div>
</body>
</html>